project = "visureel"
env     = "dev"
region  = "us-east-1"

web_image = "<your-account-id>.dkr.ecr.us-east-1.amazonaws.com/visureel-dev-web:main"

web_desired_count = 2
web_cpu   = 512
web_memory= 1024

db_name     = "appdb"
db_username = "appuser"